.btn{
  width: 120px;
  height: 36px;
  background-color: rgba(0, 208, 236, 1);
  color: black;
  position: relative;
}

.btnDiv>img{
  width: 15px;
  height: 13px;
}

.avatar{
  width: 22px !important;
  height: 22px !important;
  border-radius: 11px !important;
}

.menu{
  position: absolute;
  top: 40px;
  right: 0px;
  cursor: pointer;
}

.menuItem{
  background-color: rgba(15, 25, 27, 1);
  color: rgba(204, 204, 204, 1);
  min-width: 133px;
  min-height: 50px;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(0, 208, 236, .2)
}

.last{
  border: none
}

.walletItem{
  background-color: rgba(15, 25, 27, 1);
  color: rgba(204, 204, 204, 1);
  width: 240px;
  height: 70px;
  padding: 12px;
}

.walletContent{
  border: 0.5px solid rgba(0, 208, 236, 0.2);
  box-sizing: border-box;
  padding: 12px;
  color:rgba(204, 204, 204, 1);
}

.walletContent:hover{
  filter: brightness(125%);
}

.walletContent:active{
  filter: brightness(75%);
}


.menuItem>img{
  width: 16px;
  height: 16px;
}
.menuItem:hover{
  filter: brightness(125%);
}
.menuItem:active{
  filter: brightness(75%);
}

.walletLogo{
  width: 21px;
  height: 21px;
}

.activeOperation{
  width: 10px;
  height: 10px;
}

.loading{
  width: 20px;
  height: 20px;
}

.activeWallet{
  width: 6px;
  height: 10px;
}

.operation{
  width: 17px;
  height: 17px;
}

.toast{
  font-size: 14px;
}

.walletText{
  max-width: 68px;
  line-height: 36px;
}