.signBack {
  height: 230px;
}
.sign {
  width: 1087px;
  height: 125px;
}

.name {
  margin-top: 10px;
}

.info {
  color: #fff;
}
.avater {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(56, 85, 94, 1);
  margin-top: -67px;
}

.description {
  color: rgba(170, 170, 170, 1);
}

.infoItem > img {
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.infoItem:hover {
  cursor: pointer;
  filter: brightness(125%);
  text-decoration: underline #fff;
}
.infoItem:active {
  filter: brightness(75%);
  text-decoration: underline #fff;
}
.cup {
  cursor: pointer;
  color: #1f67d9;
}
