.stackBar {
  box-sizing: border-box;
  width: 100%;
  height: 460px;
  padding: 20px;
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-shadow: inset 0 0 15px rgba(24, 255, 241, 0.3);
}
.content {
  max-height: 460px;
  background-color: rgba(0, 0, 0, 0.4);
  /* 滚动槽 */
  /* 滚动条滑块 */
}
.firstHead{
  /* position: fixed; */
  position: sticky !important;
  left: 0px;
  background: rgba(18, 31, 31, 1)  !important;
  box-shadow: -0.5px 0px 0px rgba(255, 255, 255, 0.1) !important;
}
.content .ov {
  min-height: 48px;
  max-height: 385px;
  overflow: scroll;
}
.content .ov::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.content .ov::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
}
.content .ov::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.content .ov::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
.header {
  height: 30px;
  margin-bottom: 30px;
}
.border {
  box-sizing: border-box;
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.6);
}
.totop {
  margin-top: -20px;
}
.container {
  position: relative;
  width: 1120px;
  max-height: 385px;
}
.container tbody {
  max-height: 385px;
}
.container tr {
  height: 48px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.container tr .title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: inset -0.5px 0 0 rgba(255, 255, 255, 0.1);
}
.container tr .item {
  color: rgba(238, 238, 238, 0.85);
  font-weight: 400;
  font-size: 14px;
}
.container tr td,
.container tr th {
  position: relative;
  box-sizing: border-box;
  height: 48px;
  padding: 16px;
  font-size: 16px;
  box-shadow: inset -0.5px 0 0 rgba(255, 255, 255, 0.2);
}
.container tr td div,
.container tr th div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hoverBg {
  background-color: rgba(1, 218, 217, 0.18);
  /* background-color: red; */
}
.container tr .th1 {
  min-width: 170px;
  max-width: 170px;
  min-height: 48px;

}
.container tr .th2 {
  min-width: 150px;
  max-width: 150px;
  min-height: 48px;
}
.container tr .th3 {
  min-width: 150px;
  max-width: 150px;
  min-height: 48px;
}
.container tr .th4 {
  min-width: 110px;
  max-width: 110px;
  min-height: 48px;
}
.tobottom {
  margin-top: 100px;
}
.parcel{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.85);
}
.parcel_name{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(238, 238, 238, 0.85);
}
#fffs {
  color: red;
    /* position: sticky;
    left: 0;
    background: #F4F4F5;
    text-align: center;
    right: 0px;
    border-left: 1px solid #DDDDDD ;
    width: 100px; */
}