.card {
  position: relative;
  box-sizing: border-box;
  max-width: 385px;
  background: rgba(0, 236, 222, 0.05);
  /* 辅-亮绿 */
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-shadow: inset 0 0 15px rgba(24, 255, 241, 0.3);
}
.card:hover {
  box-shadow: 0 6px 25px rgba(0, 236, 222, 0.35), inset 0 0 15px rgba(24, 255, 241, 0.3);
  transform: translateY(-2px);
  cursor: pointer;
}
.imgContanier {
  position: relative;
  width: 100%;
  height: 150px;
}
.content {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.content h2 {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
}
.content h2 span {
  vertical-align: super;
}
.icon {
  width: 38px;
  height: 38px;
  border-radius: 20px;
}
.icon:hover {
  filter: brightness(125%);
}
.icon:active {
  filter: brightness(75%);
}
.tag {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  padding-right: 14px;
  padding-left: 10px;
  color: #fff;
  /* 第二套/背景色 */
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.detail {
  margin-top: 10px;
  color: #ddd;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
.detail img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-right: 7px;
}
.detail .plot {
  margin: 8px 0;
}
.detail .plot div {
  margin-top: 2px;
}
.detail .info {
  display: flex;
  flex-wrap: nowrap;
}
.detail .info .info_item {
  position: relative;
  margin-top: 2px;
  margin-right: 8px;
  font-size: 14px;
}
.detail .info .info_item::after {
  position: absolute;
  right: -4px;
  bottom: 4px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
  content: ' ';
}
.detail .info .info_item:last-child::after {
  width: 0;
  content: ' ';
}
.shade {
  position: absolute;
  top: -1;
  left: -1;
  z-index: 999;
  width: 379px;
  height: 423px;
  background: rgba(0, 0, 0, 0.5);
}
.changeImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 60px;
  height: 60px;
}
.dn {
  display: none;
}
.coord {
  position: relative;
  margin-right: 10px;
}
.coord::after {
  position: absolute;
  right: -6px;
  bottom: 4px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
  content: ' ';
}
.coord:last-child::after {
  width: 0;
  content: ' ';
}
.shenglue {
  margin-top: 2px;
  margin-left: 2px;
}
.price {
  position: relative;
  color: #ffb800;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  margin: 10px 0;
}
