.bottomLine {
  position: relative;
  z-index: 1;
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.allHeight {
  height: 48px;
}
.imgContanier {
  width: 100%;
  height: 216px;
  overflow: hidden;
  background-color: #000;
}
.imgContanier .title {
  margin-top: 50px;
  color: #ddd;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}
.imgContanier .text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
.imgContanier .text .t {
  margin: 0 50px;
  color: #999;
  font-weight: 400;
  font-size: 14px;
}
.imgContanier .text .hengxian {
  width: 300px;
  height: 1px;
  margin-top: 10px;
  background-color: #999;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 50px auto 30px;
}
.cls {
  margin-right: 15px;
  margin-bottom: 15px;
}
.cls:nth-child(3n) {
  margin-right: 0;
}
.backImage {
  background-image: url('/images/imgConent/biaotilan.png');
}
.jumper {
  right: 8% !important;
  bottom: 30% !important;
}
.fix1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  background: #000;
  opacity: 1;
}
.fix2 {
  position: fixed;
  top: 76px;
  left: 0;
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  background: #000;
}
x;
  cursor: pointer;
}
.more > img {
  width: 10px;
  height: 10px;
  margin-top: 2px;
}
.analyticsMore > img {
  width: 10px;
  height: 10px;
  margin-top: -2px;
}
.more:hover,
.analyticsMore:hover {
  filter: brightness(125%);
}
.more:active,
.analyticsMore:active {
  filter: brightness(75%);
}
.swiper {
  display: flex;
  width: 100%;
  margin: 0 !important;
}
.bottomContent {
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.containerBox {
  background-image: url('/images/imgConent/parcelBeiJingtu.png');
}
.pagiNation {
  margin-bottom: 30px !important;
  margin-top: 20px !important;
}
.baseCON:hover {
  filter: brightness(125%);
}
.baseCON:active {
  filter: brightness(75%);
}
.baseCON {
  box-sizing: border-box;
  padding: 9px 30px 9px 30px !important;
  width: auto;
  min-height: 40px;
  border-radius: 12px  12px 0px 0px;
  color: #999999;
  background: rgba(255, 255, 255, 0.05);
  font-weight: 500;
  font-size: 16px;
  margin-right: 0px !important;
}
.baseCON:hover {
  font-size: 16px;
  text-align: center;
  color: #000 !important;
  font-weight: 400;
  border-radius: 12px  12px 0px 0px;
  background: linear-gradient(90deg, #00d0ec 0%, #00ecb3 100%);
  cursor: pointer;
}
.fix1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  background: #000;
  opacity: 1;
  background-image: url('/images/imgConent/parcelBeiJingtu.png');
}
.active {
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 236, 222, 0.05);
  background: linear-gradient(90deg, #00d0ec 0%, #00ecb3 100%);
  border-bottom: transparent;
  border-radius: 12px  12px 0px 0px;
}
.per {
  left: 0;
  width: 76px;
  height: 76px;
  background: linear-gradient(90deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}
.next {
  right: 0;
  width: 60px;
  height: 60px;
  background: linear-gradient(270deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  cursor: pointer;
}
