.container {
  position: relative;
  display: flex;
  width: 350px;
  height: 104px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #0f191b;
  cursor: pointer;
  .imgContainer {
    position: relative;
    width: 80px;
    height: 80px;
    .img {
      width: 100%;
      height: 100%;
    }
    .desc {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      color: #000;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background-color: #00d0ec;
    }
  }
  .detail {
    width: 72%;
    margin-left: 7px;
    .name {
      width: 185px;
      overflow: hidden;
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .parcelId {
      margin: 4px 0;
      overflow: hidden;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .traffic {
      margin: 10px 0;
      overflow: hidden;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .coord1 {
      display: flex;
      margin: 4px 0;
      overflow: hidden;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .coord2 {
      display: flex;
      margin: 10px 0;
      overflow: hidden;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .info {
      margin-top: 1px;
      color: #bbb;
      font-weight: 400;
      font-size: 12px;
    }
    .info:last-child {
      color: #fff;
    }
  }
  .icon {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.site {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-right: 3px;
  margin-left: 3px;
}

.zb {
  position: relative;
  margin-right: 12px;
}
.zb::after {
  position: absolute;
  right: -6px;
  bottom: 2px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
  content: ' ';
}
.zb:last-child::after {
  width: 0;
  content: ' ';
}
