.signBack {
  height: 270px;
}

.anPage {
  min-width: 1440px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sign {
  width: 1087px;
  height: 125px;
  margin-bottom: 115px;
}
.info {
  color: #fff;
}
.content {
  min-height: 650px;
  padding: 30px;
}

.table,
.dclColor {
}
.chartList {
  max-width: 1860px;
  min-width: 1200px;
}

.chartList {
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  min-height: 650px;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 9999999999999;
  padding: 0 30px;
  width: 96%;
  background-color: #111a1b;
}

.tmbg {
  width: 96%;
  height: 75px;
  background-color: #111a1b;
}

.aboslute {
  position: absolute;
  left: 0;
  right: 0;
  margin: 7px auto 0;
}

.headerNav {
  width: 100%;
  height: 50px;
  /* background: skyblue; */
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 9;
}

.navContainer {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.nav {
  width: 600px;
  height: 50px;
  background: #00d0ec;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.n {
  background: #000000;
  color: #00d0ec;
  width: 598px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #00d0ec;
}

.list {
  max-width: 1380px;
  min-width: 1380px;
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  border-bottom: none;
  min-height: 650px;
}

.topContainer {
  display: flex;
}

.allLine {
  width: 1340px;
  height: 519px;
  background: #041111;
  margin-top: 20px;
  padding: 20px;
}

.tabContainer {
  padding: 20px;
  background: #081616;
}

.cvColor {
  background-color: rgba(194, 157, 135, 1);
}

.dclColor {
  background-color: rgba(255, 107, 84, 1);
}

.sandboxColor {
  background-color: rgba(0, 117, 255, 1);
}

.spaceColor {
  background-color: rgba(250, 216, 23, 1);
}

.nftColor {
  background-color: rgba(132, 193, 14, 1);
}

.webbColor {
  background-color: rgba(229, 68, 155, 1);
}

.osdColor {
  background-color: rgba(255, 248, 187, 1);
}
