.signBack {
  height: 230px;
}

.anPage {
  min-width: 1440px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sign {
  width: 1087px;
  height: 125px;
  margin-bottom: 67px;
}
.info {
  color: #fff;
}
.content {
  min-height: 650px;
  padding: 30px;
}

.table,
.chartList {
  max-width: 1860px;
  min-width: 1380px;
}

.chartList {
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  min-height: 650px;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 9999999999999;
  background-color: #111a1b;
}

.bg {
  width: 100%;
  height: 62px;
  background-color: #111a1b;
}
