.baseBar{
  height: 350px;
  width: 100%;
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  padding: 20px;
}

.content{
  border-radius: 8px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header{
  height: 30px;
  margin-bottom: 30px;
}