.base{
  width: 400px;
  height: 400px;
}

.big{
  width: 770px;
  height: 400px;
}

.cover1{
  background-image: url("/images/v2/analytics.png");
  background-size:cover;
  background-repeat: no-repeat;
}

.cover2{
  background-image: url("/images/v2/yy.png");
  background-size:cover;
  background-repeat: no-repeat;
}

.cover3{
  background-image: url("/images/v2/analytics-2.png");
  background-size:cover;
  background-repeat: no-repeat;
}

.cover4{
  background-image: url("/images/v2/右二.png");
  background-size:cover;
  background-repeat: no-repeat;
}