.container{
    width: 590px;
    height: 200px;
    background: rgba(255, 255, 255, 0.05);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    margin-right: 20px;
}
.imgBox{
    width: 160px;
    height: 160px;
}
.content{
    width: 390px;
    height: 160px;
    padding: 15px;
    background: rgba(0,0,0,0.2);
}
.instron{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    color: #FFFFFF;
    bottom: 2px;
    width: 100%;
    white-space: nowrap;
     text-overflow:ellipsis;
    overflow:hidden;
}
.showDetail{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    margin-bottom: 10px;
}
.introduce{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    color: #AAAAAA;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    /* height: 40px; */
}
.btnBox{
    margin-top: 10px;
    padding: 6px 20px 6px 20px;
    background: linear-gradient(92.54deg, #00D0EC 0%, #00ECB3 99.53%);
    border-radius: 4px;
    width: 160px;
    text-align: center;
    height: 32px;
    line-height: 20px;
}