.error {
  width: 94px;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #00d0ec;
  justify-content: center;
}
.error img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.error p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.succeed {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #00d0ec;
  justify-content: center;
  opacity: 0.8;
}
.succeed img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.succeed p {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
