.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.picker {
  border:0.5px solid #0F191B;
  border-radius: 8px;
  position: absolute !important;
  top: 20px;
  left: 20px;
  z-index: 20;
  background-color: rgba(15, 25, 27, 1);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.selecter {
  top: 15px;
  left: calc(15px);
}

.minMap {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30%;
  height: 20%;
  background-color: black !important;
}

.minimapRect {
  z-index: 100;
}

.type {
  width: 113px;
  height: 48px;
}

.dividing {
  height: 30px;
  width: 0;
  border-right: solid 1px #ffffff;
  opacity: 0.3;
}

.zoom {
  position: absolute;
  left: 410px;
  top: 20px;
  z-index: 1001;
}
.zoomButton {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  border: 0.5px solid rgba(1, 218, 217, 0.6);
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.zoomButton > img {
  width: 18px;
}

.zoomButton:hover {
  filter: brightness(125%);
}

.zoomButton:active {
  filter: brightness(75%);
}

.zoomButtonrEACT{
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  border: 0.5px solid rgba(1, 218, 217, 0.6);
  border-radius:0px 0px 4px 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.zoomButtonrEACT:hover {
  filter: brightness(125%);
}

.zoomButtonrEACT:active {
  filter: brightness(75%);
}

.zoomButtonrEACT > img {
  width: 18px;
}
.disable {
  filter: brightness(25%);
}

.fullBtn {
  z-index: 1001;
  top: 20px;
  left: 460px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
border: 0.5px solid rgba(1, 218, 217, 0.6);
border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.fullBtn > img {
  width: 30px;
  height: 30px;
}

.fullBtn:hover {
  filter: brightness(125%);
}

.fullBtn:active {
  filter: brightness(75%);
}


.legend {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1001;
}

.leafletLabel {
  background-color: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  color: #fff;
  display: block;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1px 3px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  z-index: 6;
}

.pop {
  z-index: 1001;
  transform: translate(-50%, calc(-100% - 10px));
}

.fullBtn {
  z-index: 1001;
  top: 20px;
  left: 460px;
  width: 40px;
}
.topList {
  width: 390px;
  position: absolute;
  height: 93%;
  left: 0;
  top: 84px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  overflow-y: auto;
}
.topList::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* 滚动槽 */
.topList::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
}

/* 滚动条滑块 */
.topList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

.topList::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}

.dn {
  display: none;
}
.topList > .title {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  z-index: 1000;
  position: relative;
}

.container {
  width: 390px;
  height: 84px;
  position: absolute;
  border-bottom: 1px solid rgba(10, 34, 39, 0.8);
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  opacity: 0.7;
  z-index: 20;
}
.arrows {
  position: absolute;
  left: 358px;
  top: 38px;
  z-index: 20;
  cursor: pointer;
}
.arrows > img {
  width: 14px;
  height: 14px;
}

.change {
  width: 138px !important;
  font-size: 14px !important;
}
