.topicCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  min-width: 290px;
  /* min-height: 356px; */
  /* padding: 13px !important; */
  /* 辅-亮绿 */
  border: 0.5px solid rgba(255, 255, 255,0.3);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: inset 0px 0px 15px rgba(255,255,255,0.15);
}
.cover:nth-child(1){
  border-radius: 12px 0px 0px 0px;
}
.cover:nth-child(2){
  border-radius: 0px 11px 0px 0px;
}


.topicCard:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(255, 255, 255, 0.35), inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
} x

.cover {
  /* max-height: 80px; */
  /* width: 129px; */
  /* height:97px;
   */
   width: 50%;
   height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  /* height: 44px; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 0px 0px 8px 8px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px;
}

/* .footer:hover,
.footer:active {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
} */

.footer:hover > .icon {
  filter: brightness(200%);
}

.icon {
  width: 18px;
  height: 18px;
}
.type {
  height: 20px;
  color: rgba(15, 25, 27, 1);
  background-color: rgba(0, 208, 236, 1);
}

.description {
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: PingFang SC;
}

.oneImg {
  width: 290px;
  height: 275px;
  display: block;
  border-radius: 8px 8px 0px 0px;
}
