/* .container {
  position: absolute;
  right: 0;
  bottom: -90px;
  z-index: 99;
  background-color: #0f191b;
}
.item {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  color: #ccc;
  font-size: 12px;
  line-height: 50px;
  border-bottom: 1px solid #0c3d45;
  cursor: pointer;
}
.item:hover {
  color: #fff;
}
.item:last-child {
  border: 0;
}

.item::before{
  position: absolute;
  content: '';
  left: calc(50% - 5px);
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #0f191b;
} */



.container {
  position: absolute;
  right: 0;
  bottom: -90px;
  z-index: 99;
  background-color: #0f191b;
}
.item {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  color: #ccc;
  font-size: 12px;
  line-height: 50px;
  border-bottom: 1px solid #0c3d45;
  cursor: pointer;
}
.item:hover {
  color: #fff;
}
.item1 {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  color: #000;
  font-size: 12px;
  line-height: 50px;
  border-bottom: 1px solid #0c3d45;
  cursor: pointer;
}
.item1:hover {
  color: #000;
}
.item:last-child {
  border: 0;
}
.item::before{
  position: absolute;
  content: '';
  left: calc(50% - 5px);
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #0f191b;
}