.uploadContainer{
  /* width: 120px; */
  margin-left: 8px;
  height: 120px;
  /* margin-bottom: 8px; */
  border-radius: 60px;
  position: relative;
}
.backImgCo{
  position: relative;
  margin-bottom: 8px;
  height: 140px;
}
.coverBakInfo{
  width: 114px;
  position: absolute;
  bottom: -8px;
  left: 8px;
  cursor: pointer;
  height: 20px;
  border-radius: 0px 0px 6px 6px;
  background: #01DAD9;
  opacity: 0.5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  padding-top:3px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.uploadContainer:nth-child(1){
  margin-top: 0px !important;
}
.uploadContainer:nth-child(2){
  margin-top: 0px !important;
}
.uploadContainer:nth-child(3){
  margin-top: 0px !important;
}
.uploadContainer:nth-child(4){
  margin-top: 0px !important;
}
.cover{
  /* background-color: rgba(0, 208, 236, 0.8); */
  /* border-radius: 60px; */
  background: #00D0EC;
  opacity: 0.1;
  border-radius: 6px 6px 0px 0px;
}

.cover:hover{
  background-image: url('/images/addbuild.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  /* opacity: 0.1; */
  /* background-color: rgba(0, 208, 236, 0.8); */
}

.cover>img{
  width: 24px;
  height: 24px;
}

.backImg{
  /* border-radius: 60px; */
  /* background: #00D0EC; */
/* opacity: 0.1; */
border-radius: 4px 4px 0px 0px;

}