.card {
  max-width: 385px;
  background: rgba(0, 236, 222, 0.05);
  /* 辅-亮绿 */
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(0, 236, 222, 0.35), inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  cursor: pointer;
}
.imgContanier {
  width: 100%;
  height: 150px;
  position: relative;
}
.content {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.content h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  position: relative;
}
.content h2 span {
  vertical-align: super;
}
.icon {
  width: 38px;
  height: 38px;
  border-radius: 20px;
}
.icon:hover {
  filter: brightness(125%);
}
.icon:active {
  filter: brightness(75%);
}
.tag {
  position: absolute;
  height: 32px;
  left: 0px;
  top: 0px;
  /* 第二套/背景色 */
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
  color: #fff;
  padding-left: 10px;
  padding-right: 14px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.detail {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ddd;
}
.detail img {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  margin-top: 5px;
}
.detail .coord div {
  margin-top: 1px;
}
.detail .plot {
  margin: 8px 0;
}
.detail .plot div {
  margin-top: 2px;
}
.detail .info {
  display: flex;
  flex-wrap: nowrap;
}
.detail .info .info_item {
  margin-right: 8px;
  position: relative;
  margin-top: 2px;
  font-size: 14px;
}
.detail .info .info_item::after {
  content: ' ';
  position: absolute;
  right: -4px;
  bottom: 4px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
}
.detail .info .info_item:last-child::after {
  content: " ";
  width: 0px;
}
