.avater {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  position: absolute;
  left: 33%;
}

.profile {
  /* height: 200px; */
  /* padding-left: 24%; */
  /* text-align: center; */
  justify-content: center;
  margin:0px 12px 12px 12px;
  margin-top: 63px;
  /* background: url('/images/v5/full.png') no-repeat; */
  background-size: 100% 100%;
}
.links{
  text-align: center;
  justify-content: center;
}
.container{
  width: 30%;
  min-height: 171px;
  position: relative;
  text-align: center;
}

.cony{
  min-height: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(153, 153, 153, 1);
text-align: center;
margin-top: 4px;
margin-bottom: 11px;
}

.content{
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.content2{
  width: 120px;
  display: flex;
  padding-left: 20px;
  line-height: 14px;
  border-right: 2px solid  #c4c4c4;
  height: 20px;
  text-align: center;
}

.content3{
  width: 120px;
  display: flex;
  padding-left: 20px;
  line-height: 14px;
  height: 20px;
  text-align: center;
}

.divide {
  width: 1px;
  height: 10px;
  background-color: rgba(196, 196, 196, 1);
}

.imgSet{
  line-height: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  margin-top: 12px;
  margin-left: 10px;
}

.address {
  color: rgba(102, 102, 102, 1);
}

.back {
  max-width: 550px;
}
.info {
  position: absolute;
  bottom:0px;
}
.cd {
  color: #00f0ff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: 72px;
  margin-top: 8px;
  white-space: nowrap;
}

.waiting {
  color: #ffcf5f;
  font-weight: 500;
  font-size: 14px;
  margin-left: 72px;
  margin-top: 8px;
  white-space: nowrap;
}
