.avater{
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.profile{
  height: 200px;
  /* background: url('/images/v5/full.png') no-repeat; */
  background-size: 100% 100%;
}

.divide{
  width: 1px;
  height: 10px;
  background-color: rgba(196, 196, 196, 1);
}

.address{
  color: rgba(102, 102, 102, 1);
}

.back{
  max-width: 550px;
}