.header {
  height: 30px;
  margin-bottom: 30px;
}

.border {
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(1, 218, 217, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
}
.selecterLong {
  width: 134px;
}
.ov {
  height: 400px;
  overflow: hidden;
}
.toright {
  margin-left: 115px;
}
.mt {
  margin-top: 200px;
}
.bg {
  background-color: #010202;
  border-bottom: #333 solid 1px;
}
