.signBack {
  height: 230px;
}
.sign {
  width: 1087px;
  height: 125px;
  margin-bottom: 67px;
}
.info {
  color: #fff;
}
.content {
  min-height: 650px;
}
.bottomLine {
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
  position: relative;
  z-index: 1;
}

.allHeight {
  height: 48px;
}

.fix1 {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background: #000;
  z-index: 11;
  opacity: 1;
}
.fix2 {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  background: #000;
  margin: 0 auto;
  z-index: 9;
}
