.baseChart{
  height:460px;
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 8px;
}

.baseChart2{
  margin-top: 20px;
  position: relative;
  /* height: 460px; */
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 8px;
}

.header{
  height: 30px;
  margin-bottom: 30px;
}