.title {
  color: #aaaaaa;
}
.cell {
  color: #fff;
  font-size: 28px !important;
  font-weight: 500 !important;
}

.info {
  height: 70px;
}

.type {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.tabIcon {
  width: 28px;
  height: 28px;
  border-radius: 20px;
}

.table > tbody > .title > th > div {
  justify-content: center;
}
.table > tbody > .title > th:first-child > div {
  justify-content: left;
}

.tobottom {
  margin-bottom: 20px;
}

.h1 {
  width: 170px;
}

.h2 {
  width: 250px;
}

.h3 {
  width: 220px;
}

.bg {
  height: 48px;
  background: #1c2929;
  border: 1px solid #333E3E;
}

.bg2 {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -0.5px 0px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #333E3E;
}
