.container {
  width: 93px;
  background-color: #0f191b;
  position: absolute;
  right: 0px;
  bottom: -90px;
}
.container .item {
  width: 93px;
  height: 50px;
  box-sizing: border-box;
  color: #ccc;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #0c3d45;
}
.container .item:hover {
  color: #fff;
}
.container .item:last-child {
  border: 0px;
}
