.content{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    text-align: center;
}
.middleContent{
    display: flex;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin:20px  auto ;
    padding-left: 20px;
}
.middleContent img{
    width: 15px;
    height: 15px;
    display: block;
    margin-top: 5px;
   margin-left: 5px;
}
.imgCon{
    width: 30px;
    height: 30px;
    border: 1px solid #4b4b51;
    border-radius: 20%;
}
.num{
    width: 100px;
    height: 20px;
    display: block;
    text-align: center;
}
.supply{
    display: block;
}