.base {
  min-height: 60px;
  padding: 0 50px;
  border: 1px solid #086975;
  box-sizing: border-box;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  line-height:60px
}

.active{
  background-color: #00D0EC;
  font-weight: 600;
  color: black
}

.active > .canHover,
.canHover:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.tabIcon {
  width: 28px;
  height: 28px;
  border-radius: 20px;
}

.p1{
  padding: 0 45px;
}


.p3{
  padding: 0 40px;
}
.p4{
  padding: 0 25px;
}
.p5{
  padding: 0 25px;
}
.n{
  white-space: nowrap;
}