.signBack {
  height: 230px;
}

.anPage {
  min-width: 1440px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content {
  min-height: 650px;
  padding: 30px;
  flex: 1 auto;
}

.guide,
.info {
  color: rgba(102, 102, 102, 1);
}

.info {
  font-size: 14px;
}

.desc {
  color: rgba(153, 153, 153, 1);
}

.modelCard {
  width: 500px;
  height: 500px;
  background: rgba(0, 236, 222, 0.05);
  /* 辅-亮绿 */
  box-sizing: border-box;
}

.animation {
  width: 500px;
  height: 500px;
}

.animationIcon {
  position: relative;
  width: 32px;
  /* z-index: 5; */
  opacity: 0;
  height: 32px;
  animation: myfirst 2s ease-in-out infinite;
  background-image: url('/images/v5/click.png');
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes myfirst {
  0% {
    left: calc(45%);
    top: calc(50% - 10px);
    opacity: 1;
  }

  100% {
    left: 55%;
    top: calc(50% - 10px);
    opacity: 0.2;
  }
}

.guide > img {
  width: 10px;
  height: 10;
  filter: brightness(75%);
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 16px;
}

.opese {
  width: 32px;
  height: 32px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: rgba(0, 208, 236, 0.2);
  padding: 5px;
}

.icon:hover,
.guideHome:hover,
.other:hover,
.opese:hover {
  filter: brightness(125%);
}

.icon:active,
.guideHome:active,
.other:active,
.opese:active {
  filter: brightness(75%);
}

.infoRow {
  background-color: rgba(0, 208, 236, 0.05);
}

.other {
  cursor: pointer;
  color: #777;
}
.other > img {
  filter: brightness(75%);
}

.other > img {
  width: 10px;
  height: 10px;
}
