.container {
  width: 660px;
  height: 417px;
  margin-right: 20px;
  padding: 20px;
  background: #041111;
}
.header {
  height: 30px;
  margin-bottom: 30px;
}
.border {
  box-sizing: border-box;
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.6);
}
.selecterLong {
  width: 134px;
}
.totop {
  width: 500px;
  height: 300px;
}
.mt {
  margin-top: 150px;
}
.bg {
  background-color: #010202;
  border-bottom: #333 solid 1px;
}
