.popup{
  min-width: 300px;
  min-height: 135px;
  color: rgba(153, 153, 153, 1);
  padding: 12px;
  box-sizing: border-box;
  border:rgba(196, 196, 196, 0.5);
  cursor: pointer;
  background-color: rgba(0,0, 0, 0.9);
}

.widthlimit{
  width: 300px;
  height: 135px;
}

.popup::after{
  position: absolute;
  content: '';
  left: calc(50% - 5px);
  top: 100%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid rgba(0,0, 0, 0.9);
}

.cover{
  width: 80px;
  height: 80px;
}
.icon {
  width: 28px;
  height: 28px;
  border-radius: 20px;
}

.close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
}

.icon:hover, .close:hover{
  filter: brightness(125%);
}

.icon:active, .close:active{
  filter: brightness(75%);
}

.name{
  max-width: 155px;
}

.nameUnlimit{
  max-width: 90%;
}

.titleContainer{
  max-width: 90%;
}

.title{
  /* max-width: 200px; */
}

.label{
  color: rgba(170, 170, 170, 1);
}

.sales{
  border: 1px solid rgba(102, 102, 102, 0.5);
  padding: 6px;
}