.price {
  color: #ffb800;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
.leasen_Container {
  margin-top: 13px;
}
.leasen_Container .price::after {
  content: ' ';
  position: absolute;
  right: -10px;
  bottom: 3px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
}
.leasen_Container .lease {
  margin-left: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #dddddd;
}
.not_for_rent {
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  background: #0f403f;
  color: #00d0ec;
  margin: 10px 0;
}
.for_rent_Container {
  margin: 13px 0;
  display: flex;
  justify-content: space-between;
}
.for_rent_Container .option {
  width: 131px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0f403f;
}
.for_rent_Container .option div {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #00d0ec;
  position: relative;
}
.for_rent_Container .option div:first-child::after {
  content: ' ';
  position: absolute;
  right: -11px;
  bottom: 2px;
  width: 1px;
  height: 15px;
  background: #999;
  transform: scaleX(0.5);
}
.for_rent_Container .option div:hover {
  font-size: 16px;
}
