.miniActive {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.miniNormal {
  color: #aaa;
  font-size: 14px;
}
.name {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 600;
}
.miniBase {
  position: relative;
  z-index: 1;
  height: 100%;
}
.miniActive > .miniCanHover,
.miniCanHover:hover {
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.miniTabIcon:hover {
  transform: scale(1);
  border-radius: 50% !important;
  opacity: 1;
}
.miniTabIcon:active {
  transform: scale(1);
  border-radius: 50% !important;
  opacity: 999;
}
.miniTabIcon {
  width: 20px;
  height: 20px;
  border-radius: 16px;
}
.active {
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  border-bottom: transparent;
}
.normal {
  color: #aaa;
  font-size: 26px;
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.base {
  min-width: 300px;
  padding: 0 30px;
}
.active > .canHover,
.canHover:hover {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.active > .canHover > .tabIcon,
.canHover:hover > .tabIcon {
  width: 44px;
  height: 44px;
}
.tabIcon {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}
