.option {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  min-width: 69px;
  background-color: #010202;
 
}
.bottomBorder{
  border-bottom: #333333 solid 1px;
}
.option:hover {
  color: #fff;
  font-weight: 500;
}
.option:active {
  color: #999999;
  font-weight: 500;
}
.selectDiv {
  z-index: 1005;
  cursor: pointer;
  position: relative;
  min-width: 80px;
}
.selecter {
  height: 30px;
  /* width: 80px; */
  padding: 0 10px;
  z-index: 1005;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.border {
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(1, 218, 217, 0.6);
  border-radius: 4px;
  box-sizing: border-box;
}

.show {
  display: none;
}

.frame {
  width: 10px;
  height: 10px;
}

.frame:hover {
  filter: brightness(150%);
}
.frame:active {
  filter: brightness(75%);
}

.active {
  filter: brightness(150%);
}

.list::before{
  position: absolute;
  content: '';
  left: calc(50% - 5px);
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #010202;
}
