.topicCard {
  width: 290px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 250px;
  padding: 15px;
  border: 0.3px solid rgba(255, 255, 255);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: inset 0px 0px 15px rgba(255,255,255,0.3);
}

.topicCard:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(255, 255, 255, 0.35), inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
} x

.cover {
  max-height: 80px;
}

.footer {
  /* height: 44px; */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 8px 8px;
}

.footer:hover,
.footer:active {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.footer:hover > .icon {
  filter: brightness(200%);
}

.icon {
  width: 18px;
  height: 18px;
}
.type {
  height: 20px;
  color: rgba(15, 25, 27, 1);
  background-color: rgba(0, 208, 236, 1);
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.oneImg {
  width: 290px;
  height: 160px;
  display: block;
  border-radius: 8px 8px 0px 0px;
}
