.active::after {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 2px;
  border-radius: 2px;
  // background-color: #00d0ec;
  background: linear-gradient(90deg, rgba(0, 208, 236, 1) 0%, rgba(0, 236, 179, 1) 100%);
  content: ' ';
}

.normal {
  color: #aaa;
}
.tab {
  position: relative;
  color: #fff;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.canHover {
  color: #aaa;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  width: 100px;
  text-align: center;
}

.active,
.active > .canHover,
.canHover:hover {
  color: #fff;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  width: 100px;
  text-align: center;
}
