.allHeight {
  height: 48px;
  position: relative;
}
.bottomLine {
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.border {
  box-sizing: border-box;
  width: 110px;
  height: 44px;
  color: #999999;
  background: rgba(0, 208, 236, 0.1);
  cursor: pointer;
  position: absolute;
  right: 320px;
  top: -2px;
}
