.allHeight {
  position: relative;
  height: 48px;
}
.bottomLine {
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.border {
  margin-top: 2px;
  box-sizing: border-box;
  width: 110px;
  height: 32px;
  color: #999999;
  background: rgba(0, 208, 236, 0.1);
  cursor: pointer;
  border-radius: 8px;
}
.containerBanner{
  margin-top: 60px;
}
.a{
  position: fixed;
  top: 0px;
  background-image: url('/images/imgConent/Mask\ group.png');

}
.aboslute{
  position:fixed;
  height: 61px;
  z-index: 99999999;
  background-color: #111a1b;
  top:60px;
  padding-top: 16px;
  margin: 0px auto 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.searchOrlangue {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 1200px;
  height: 48px;
  background: rgba(255, 255, 255, 0);
}
.r {
  position: relative;
  z-index: 10px;
}
.right {
  float: right;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
}
