
.logo {
  width: 36px;
  height: 30px;
}
.active {
  color: #fff;
}
.old {
  color: #fff;
}

.base {
  z-index: 10002;
  width: 1400px;
}
.location {
  position: absolute;
  right: -35px;
  bottom: -141px;
  /* bottom: -90px; */
  z-index: 99;
  background-color: #0f191b;
}
.parcels {
  position: absolute;
  /* right: 450px;
  top:40px; */
  z-index: 99;
  background-color: #0f191b;
}
.location2 {
  position: absolute;
  right: 0;
  bottom: -90px;
  z-index: 99;
  background-color: #0f191b;
}
.location3 {
  position: absolute;
  right: -65;
  bottom: -280px;
  background-color: #0f191b;
}
.location4 {
  position: absolute;
  right: -75;
  bottom: -425px;
  background-color: #0f191b;
}
.cn {
  width: 175px;
}
.cn1 {
  width: 175px;
}

.cn2 {
  width: 116px;
}
.z {
  z-index: 99;
}
