
.logo {
  width: 36px;
  height: 30px;
  background: transparent;
}
.active {
  color: #fff;
}
.old {
  color: #fff;
}

.base {
  z-index: 10002;
  width: 1400px;
}
.location {
  position: absolute;
  right: -48px;
  bottom: -100px;
  /* bottom: -90px; */
  z-index: 99;
  background-color: #0f191b;
  border-radius: 4px;
}
.parcels {
  border-radius: 4px;
  position: absolute;
  right: 575px;
  top:57px;
  z-index: 99;
  background-color: #0f191b;
}
.location2 {
  position: absolute;
  right: -25px;
  bottom: -100px;
  z-index: 99;
  border-radius: 4px;
  background-color: #0f191b;
}
.location3 {
  position: absolute;
  left: 530px;
  bottom: -330px;
  background-color: #0f191b;
  border-radius: 4px;
}
.location4 {
  position: absolute;
  left: 390px;
  bottom: -430px;
  background-color: #0f191b;
  border-radius: 4px;
}
.cn {
  width: 176px;
}
.cn1 {
  width: 176px;
}

.cn2 {
  width: 154px;
}
.z {
  z-index: 99;
}
