/* 
.logo {
  width: 36px;
  height: 30px;
  background: transparent;
}
.active {
  color: #fff;
}
.old {
  color: #fff;
}

.base {
  z-index: 10002;
  width: 1400px;
}
.location {
  position: absolute;
  right: -48px;
  bottom: -100px;
  z-index: 99;
  background-color: #0f191b;
  border-radius: 4px;
}
.parcels {
  border-radius: 4px;
  position: absolute;
  right: 575px;
  top:57px;
  z-index: 99;
  background-color: #0f191b;
}
.location2 {
  position: absolute;
  right: -25px;
  bottom: -100px;
  z-index: 99;
  border-radius: 4px;
  background-color: #0f191b;
}
.location3 {
  position: absolute;
  left: 530px;
  bottom: -330px;
  background-color: #0f191b;
  border-radius: 4px;
}
.location4 {
  position: absolute;
  left: 390px;
  bottom: -430px;
  background-color: #0f191b;
  border-radius: 4px;
}
.cn {
  width: 176px;
}
.cn1 {
  width: 176px;
}

.cn2 {
  width: 154px;
}
.z {
  z-index: 99;
} */

.logo {
  width: 36px;
  height: 30px;
  background: transparent;
}
.active {
  color: #fff;
}
.old {
  color: #fff;
}
.header{
  background-image: url("/images/imgConent/beijingPic.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
}
.metaImg{
  /* margin-top: 15px; */
  width: 100px;
  height: 30.89px;
}
.imgCon{
  margin-left: 16.85px;
}
.headerTop{
  margin-left: 35px;
}
.base {
  z-index: 10002;
  width: 1400px;
  height: 60px;
}
.location {
  position: absolute;
  right: -48px;
  bottom: -115px;
  /* bottom: -90px; */
  z-index: 99;
  background-color: #0f191b;
  border-radius: 4px;
}
.parcels {
  border-radius: 4px;
  position: absolute;
  right: 380px;
  top:63px;
  z-index: 99;
  background-color: #0f191b;

}
.location2 {
  position: absolute;
  right: -25px;
  bottom: -110px;
  z-index: 99;
  border-radius: 4px;
  background-color: #0f191b;
}
.location3 {
  position: absolute;
  /* left: 387px;
  bottom: 128px; */
  top: 52px;
  left: -50px;
  background-color: #0f191b;
  border-radius: 4px;
}
.location4 {
  position: absolute;
  left: -50px;
  top: 52px;
  /* bottom: 27px; */
  background-color: #0f191b;
  border-radius: 4px;
}
.cn {
  width: 176px;
}
.cn1 {
  width: 176px;
}

.cn2 {
  width: 154px;
}
.z {
  z-index: 99;
  /* margin-left: 45px; */
  vertical-align: middle;
}
.nameCon{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  padding-top: 5px;
}
.rightCon{
  margin-right: 41.67px;
}
.connectBox{
  position: absolute;
  right:20px;
  justify-content: end;
}