.legend {
  width: 120px;
  background: #0A2227;
  /* rgba(0, 208, 236, 0.1); */
  border-radius: 8px;
  border: 0.5px solid rgba(0, 208, 236, 0.6);
  box-sizing: border-box;
  padding: 12px;
}
.labelLi{
  color: rgba(153, 153, 153, 1);
  margin-top: 12px;
}

.legendColor{
  display: block;
  width: 16px;
  height: 16px;

}

.active{
  color: #0066FF
}

.activeIcon{
  border: 1px solid  #0066FF;
}