.graphic {
  width: 260px;
  height: 260px;
  text-align: center;
  margin: 0 auto;
  border-radius: 12px 12px 0px 0px;
  /* margin: 30px auto; */
  /* padding: 20px; */
}
.card {
  padding: 15px 15px 15px 15px;
  max-width: 385px;
  /* background: rgba(0, 236, 222, 0.05); */
  /* 辅-亮绿 */
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  /* border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3); */
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 25px rgb(255 255 255 / 30%), inset 0 0 15px rgb(255 255 255 / 15%);
  cursor: pointer;
}

.avatar{
  width: 90px;
  height: 90px;
}

.footer{
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
  position: relative;
}
.footer:hover{
  /* background-color: rgba(0,0,0,0.5); */
}

.goDetail{
  color: #888;
  font-size: 12px;
  cursor: pointer;
  margin-top: 8px;
}
.artist{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  color: #CCCCCC;
}
.name{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  color: #CCCCCC;
}

.title{
  max-width: 180px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
}

.goDetail2{
  color: #777;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  right: 19.08px;
  top: 33.75px;
}

.icon{
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: rgba(0, 208, 236, 0.2);
  padding: 5px;
}

.goDetail2>img{
  width: 10px;
  height: 10;
  filter: brightness(75%);
}


.opese {
  width: 32px;
  height: 32px;
  top: 8.23px;
  right: 10.72px;
  cursor: pointer;
}

.goDetail:hover, .goDetail2:hover,.icon:hover, .opese:hover{
  filter: brightness(125%);
}

.icon:active, .opese:active{
  filter: brightness(75%);
}

.goDetail:active, .goDetail2:active{
  filter: brightness(50%);
}
