
.content{
  width: 100%;
  height: 310px;
}

.border {
  box-sizing: border-box;
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.6);
}
.selecterLong {
  width: 134px;
}