
.item {
  box-sizing: border-box;
  /* min-height: 50px; */
  padding: 0 20px;
  color: #ccc;
  font-size: 12px;
  /* line-height: 50px; */
  padding: 15.99px 0px 16.01px 15px;
  background-color: #0F191B;
  border-bottom: 0.5px solid rgba(28, 141, 135, 0.2);
  cursor: pointer;
}
.lable{
  height: 18px;
  line-height: 18px;
}

.item:last-child {
  border: 0;
}

.base{
  background-color: #0f191b;
  border-radius: 4px;
  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(10px);
  /* bottom: -90px; */
  z-index: 100;
}

.base::before{
  position: absolute;
  content: '';
  left: calc(50% - 5px);
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #0f191b;
}

.item:hover{
  filter: brightness(150%);
}

.long{
  width: 154px;
  border-radius: 4px;
}
.short{
  width: 120px;
}

.middle{
  width: 140px;
}

.border{
  border: 1px solid rgba(255,255,255,0.5);
  width: 16px;
  height: 16px;
  margin-right: 6px !important;
}