.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.picker{
  position: absolute !important;
  top: 30px;
  left: 30px;
  z-index: 1001;
  background-color:rgba(15, 25, 27, 1); 
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.selecter{
  top: 15px;
  left: calc(15px);
}

.minMap{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30%;
  height: 20%;
  background-color: black !important;
}

.minimapRect{
  z-index: 100;
}

.type{
  width: 113px;
  height: 48px;
}

.dividing{
  height: 30px;
  width: 0;
  border-right: solid 1px #FFFFFF;
  opacity: 0.3;
}

.zoom{
  position: absolute;
  left: 30px;
  top: calc(30px + 48px + 30px);
  z-index: 1001;
}
.zoomButton{
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8) !important;
  border: 0.5px solid rgba(0, 208, 236, 0.6) !important;
  box-sizing: border-box;
  cursor: pointer;
}

.zoomButton >img{
  width: 18px;
}

.zoomButton:hover{
  filter: brightness(125%);
}

.zoomButton:active{
  filter: brightness(75%);
}
.disable{
  filter: brightness(25%);
}

.legend{
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1001;
}

.leafletLabel{
  background-color:rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  color: #fff;
  display: block;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1px 3px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  z-index: 6;
}

.pop{
  z-index: 1001;
  transform: translate(-50%, calc(-100% - 10px));
}

.fullBtn{
  z-index: 1001;
  top:108px;
  left: 80px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8) !important;
  border: 0.5px solid rgba(0, 208, 236, 0.6) !important;
  box-sizing: border-box;
  cursor: pointer;
  
}
.fullBtn>img{
  width: 30px;
  height: 30px;
}

.fullBtn:hover{
  filter: brightness(125%);
}

.fullBtn:active{
  filter: brightness(75%);
}