.swiper{
  position: relative;
  cursor: pointer;
  width: 480px;
  height: 460px;
  border-radius: 8px;
}

.swiper:hover{
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

.img{
  height: 100%;
}
.icon{
  width: 18px;
  height: 18px;
}
.slide{
  position:relative;
 
}
.title{
  height: 80px;
  position:absolute;
  bottom: 0px;
  background-color: rgba(0, 208, 236, 0.2);
}
.perbtn{
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nextbtn{
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btn{
  width: 30px;
  height: 30px;
  top: 130px;
  position: absolute;
  z-index: 100;
  color: #fff;
}
.btn:hover{
  cursor: pointer;
  filter: brightness(125%);
}
.btn:active{
  filter: brightness(75%);
}