.cover{
    width: 260px;
    height: 260px;
    border-radius: 6px 6px 0px 0px;
}
.oneImg{
    width: 260px;
    height: 260px;
    border-radius: 6px 6px 0px 0px;
}
.topicCard{
   
padding: 15px;
background-color: turquoise;
border-radius: 8px;
background: rgba(255, 255, 255, 0.05);
border: 0.5px solid rgba(255, 255, 255, 0.3);
box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.15);
}
.topicCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgb(255 255 255 / 30%), inset 0 0 15px rgb(255 255 255 / 15%);
    cursor: pointer;
}
.footer{
    position: relative;
    padding: 15px;
}
.name{
    width: 70%;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    color: #CCCCCC;
    margin-top: 8px;
}
.goDetail2{
    position: absolute;
    right: 20px;
    top: 30px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    letter-spacing: -0.019em;
    color: #777777;
    }
.rightTab{
    width: 10.83px;
    height: 10.42px;
}