.bottomLine {
  position: relative;
  z-index: 1;
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}

.allHeight {
  height: 48px;
}

.imgContanier {
  width: 100%;
  background-color: #000;
  img {
    display: block;
    margin: 0 auto;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 50px auto 30px;
}

.cls {
  margin-right: 15px;
  margin-bottom: 15px;
}
.cls:nth-child(3n) {
  margin-right: 0;
}
