.bottomLine {
  position: relative;
  z-index: 1;
  /* border-bottom: 0.5px solid rgba(0, 208, 236, 0.5); */
}
.allHeight {
  /* height: 48px; */
  border-bottom: 0.5px solid  rgba(217, 217, 217, 0.3);
}
.imgContanier {
  width: 100%;
  height: 216px;
  overflow: hidden;
}
.imgContanier .title {
  font-weight: 900;
  font-size: 60px;
  color: #ddd;
  text-align: center;
  margin-top: 50px;
}
.imgContanier .text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.imgContanier .text .t {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  margin: 0 50px;
}
.imgContanier .text .hengxian {
  width: 300px;
  height: 1px;
  background-color: #999;
  margin-top: 10px;
}
.backImage{
  background-image: url('/images/beijingtu/biaotilan.png') !important;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 50px auto 30px;
}
.cls {
  margin-right: 15px;
  margin-bottom: 15px;
}
.cls:nth-child(3n) {
  margin-right: 0;
}
.fix1 {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background: #000;
  z-index: 11;
  opacity: 1;
  background-image: url('/images/beijingtu/biaotilan.png')
}
.fix2 {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  background: #000;
  margin: 0 auto;
  z-index: 9;
  background-image: url('/images/beijingtu/biaotilan.png')
}
.jumper {
  right: 8% !important;
  bottom: 30% !important;
}