.miniActive {
  font-size: 30px;
  background-color: rgba(0,236,222,.05);
  background: linear-gradient(90deg,#00d0ec,#00ecb3);
  border-bottom: transparent;
  border-radius: 12px 12px 0 0;
  
}

.miniActive:active{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000 !important;
}

.miniNormal {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 9px 30px!important;
  width: auto;
  color: #aaaaaa;
  min-height: 40px;
  background: hsla(0,0%,100%,.05);
  font-weight: 500;
  margin-right: 0!important;
}

.miniBase {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 9px 30px 9px 30px;
  border-radius: 8px 8px 0px 0px;
}
.miniBase:hover{
  text-align: center;
  color: #000!important;
  font-weight: 400;
  background: linear-gradient(90deg,#00d0ec,#00ecb3);
  cursor: pointer;
}

.miniActive:hover {
  filter: brightness(125%);
}
.miniBase:active {
  filter: brightness(75%);
}

.miniActive > .miniCanHover,
.miniCanHover:hover {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.miniActive > .miniCanHover > .miniTabIcon,
.miniCanHover:hover > .miniTabIcon {
  transform: scale(1);
}

.miniTabIcon {
  width: 20px;
  height: 20px;
  border-radius: 16px;
}
.miniCanHover{
  font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
}

.active {
  color: #000;
  font-size: 30px;
  background-color: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  border-bottom: transparent;
}

.normal {
  color: #aaa;
  font-size: 26px;
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}

.base {
  min-width: 300px;
  padding: 0 30px;
}

.active > .canHover,
.canHover:hover {
  color: #000;
  font-size: 30px;
  cursor: pointer;
}
.active > .canHover > .tabIcon,
.canHover:hover > .tabIcon {
  width: 44px;
  height: 44px;
}

.tabIcon {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}
