#renderCanvasDcl {
    width: 75%;
    height: 80%;
    touch-action: none;
}
.canvas {
    width:65%;
    height: 500px;
    touch-action: none;
}
.btn{
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin-left: 10px;
}
.buton{
    width: auto;
    padding: 5px;
    background-color: aliceblue;
color: black;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
cursor: pointer;
border-radius: 10px;
}