.bottomLine {
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.contentHeader {
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.1);
}
.allHeight {
  height: 60px;
}
.containerBox{
  background-image: url(/images/Mask\ groupbeijingtutu.png);
}
.content {
  min-height: 650px;
}
.mapContanier {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 660px;
  margin-bottom: 50px;
  padding: 15px;
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-shadow: inset 0 0 15px rgba(24, 255, 241, 0.3);
}
.mapBack {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}
.builders {
  font-size: 25px;
}
.analytics {
  height: 50px;
  padding: 12px 20px;
  color: #0f191b;
  font-size: 18px;
  background-color: #ffcf5f;
}
.analyticsMore {
  color: #666666;
  font-size: 14px;
  cursor: pointer;
}
.more {
  color: #999999;
  font-size: 16px;
  cursor: pointer;
}
.more > img {
  width: 10px;
  height: 10px;
  margin-top: 2px;
}
.analyticsMore > img {
  width: 10px;
  height: 10px;
  margin-top: -2px;
}
.more:hover,
.analyticsMore:hover {
  filter: brightness(125%);
}
.more:active,
.analyticsMore:active {
  filter: brightness(75%);
}
.swiper {
  margin: 0px !important;
  display: flex;
  width: 100%;
}
.base {
  width: 20% !important;
  min-height: 60px;
  padding: 0 30px;
  box-sizing: border-box;
  font-weight: 500;
  color: #999999;
  line-height: 60px;
  border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
}
.active {
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 236, 222, 0.05);
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  border-bottom: transparent;
}
.per {
  width: 76px;
  height: 76px;
  background: linear-gradient(90deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  left: 0px;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}
.next {
  width: 60px;
  height: 60px;
  background: linear-gradient(270deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  right: 0px;
  cursor: pointer;
}
