// .bottomLine {
//   border-bottom: 0.5px solid rgba(0, 208, 236, 0.5);
// }

.contentHeader {
// height: 50px;
// line-height: 50px;
margin-top: 30px;
border-bottom:1px solid rgba(0, 208, 236,0.1);
}

.allHeight {

  padding-top: 46px;
  border-bottom: 0.5px solid rgba(255,255,255,0.3);
  // background-image: url('/images/beijingtu/2.png');
  background-image: url('/images/Mask groupbeijingtutu.png');
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
 
}
.cls{
  width: 100%;
  height: 46px;
  background-image: url('/images/Mask groupbeijingtutu.png');
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.aboslute{
  position:fixed;
  // height: 42px;
  padding: 0px !important;
  z-index: 99999999;
  background-color: #111a1b;
  top:72px;
  margin: 0px auto 0;
  width: 100%;
}
.content {
  min-height: 650px;
  margin-top: 15px;
  // margin-bottom: 20px;
}

.mapContanier {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 660px;
  margin-bottom: 50px;
  padding: 15px;
  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-shadow: inset 0 0 15px rgba(24, 255, 241, 0.3);
}

.mapBack {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

.builders {
  font-size: 25px;
}

.analytics {
  height: 50px;
  padding: 12px 20px;
  color: rgba(15, 25, 27, 1);
  font-size: 18px;
  background-color: #ffcf5f;
}

.analyticsMore {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  cursor: pointer;
}

.more {
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  cursor: pointer;
}

.more > img {
  width: 10px;
  height: 10px;
  margin-top: 2px;
}

.analyticsMore > img {
  width: 10px;
  height: 10px;
  margin-top: -2px;
}

.more:hover,
.analyticsMore:hover {
  filter: brightness(125%);
}

.more:active,
.analyticsMore:active {
  filter: brightness(75%);
}
.swiper {
  display: flex;
  width: 100%;
  margin: 0 !important;
}
.bottomContent{
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.pagiNation{
  margin-bottom: 30px !important;
  margin-top: 20px !important;
}
.baseCON:hover {
  filter: brightness(125%);
}

.baseCON:active {
  filter: brightness(75%);
}
.baseCON {
  box-sizing: border-box;
  // width: 17% !important;
  padding: 9px 30px 9px 30px !important;
  width: auto;
  min-height: 40px;
  // padding: 0 30px;
  border-radius: 12px  12px 0px 0px;
  color: rgba(153, 153, 153, 1);
  // background: linear-gradient(90deg, rgb(236, 236, 238) 0%, rgb(238, 241, 241) 100%);
  background: rgba(255, 255, 255, 0.05);
  font-weight: 500;
  // line-height: 40px;
  font-size: 16px;
  margin-right: 0px !important;
  &:hover{
    // width: auto;
    font-size: 16px;
    text-align: center;
    color: #000 !important; 
    font-weight: 400;
    border-radius: 12px  12px 0px 0px;
    background: linear-gradient(90deg, rgba(0, 208, 236, 1) 0%, rgba(0, 236, 179, 1) 100%);
    // filter: brightness(125%);
    cursor: pointer;
  }
}
.fix1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  background: #000;
  opacity: 1;
}



// .base :active{
//   text-align: center;
//    color: rgba(17, 26, 27, 1);
//   border-radius: 12px  12px 0px 0px;
//   background: linear-gradient(270deg,rgba(0, 236, 179, 0.8)  0%,  rgba(0, 208, 236, 0.8)100%) !important;
//   filter: brightness(75%);
// }

.active {
  // height: 40px;
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 236, 222, 0.05);
  background: linear-gradient(90deg, rgba(0, 208, 236, 1) 0%, rgba(0, 236, 179, 1) 100%);
  border-bottom: transparent;
  border-radius: 12px  12px 0px 0px;
}

.per {
  left: 0;
  width: 76px;
  height: 76px;
  background: linear-gradient(90deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}

.next {
  right: 0;
  width: 60px;
  height: 60px;
  background: linear-gradient(270deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  cursor: pointer;
}
