.land {
    fill: #bbb;
    stroke: white;
    stroke-width: 0.5px;
  }

  .land:hover {
    fill: orange;
    cursor: pointer;
  }

  .map-label {
    pointer-events: none;
    font-size: 14px;
    fill: black;
    font-family: sans-serif;
  }
  .fullBtn {
    z-index: 1001;
    top: 20px;
    left: 460px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
  border: 0.5px solid rgba(1, 218, 217, 0.6);
  border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .fullBtn > img {
    width: 30px;
    height: 30px;
  }
  .zoomButtonrEACT{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: 0.5px solid rgba(1, 218, 217, 0.6);
    border-radius:0px 0px 4px 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .zoomButtonrEACT:hover {
    filter: brightness(125%);
  }
  
  .zoomButtonrEACT:active {
    filter: brightness(75%);
  }
  
  .zoomButtonrEACT > img {
    width: 18px;
  }
  .zoomButton {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: 0.5px solid rgba(1, 218, 217, 0.6);
    border-radius: 4px 4px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
  }
  /* .mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  } */
  .zoomButton > img {
    width: 18px;
  }
  
  .zoomButton:hover {
    filter: brightness(125%);
  }
  
  .zoomButton:active {
    filter: brightness(75%);
  }
  
  