.land {
    fill: #bbb;
    stroke: white;
    stroke-width: 0.5px;
  }

  .land:hover {
    fill: orange;
    cursor: pointer;
  }

  .map-label {
    pointer-events: none;
    font-size: 14px;
    fill: black;
    font-family: sans-serif;
  }