.land {
    fill: #bbb;
    stroke: white;
    stroke-width: 0.5px;
  }

  .land:hover {
    fill: orange;
    cursor: pointer;
  }

  .map-label {
    pointer-events: none;
    font-size: 14px;
    fill: black;
    font-family: sans-serif;
  }
  .fullBtn{
    z-index: 1001;
    top:108px;
    left: 80px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8) !important;
    border: 0.5px solid rgba(0, 208, 236, 0.6) !important;
    box-sizing: border-box;
    cursor: pointer;
    
  }
  .fullBtn > img {
    width: 30px;
    height: 30px;
  }
  .zoomButtonrEACT{
    z-index: 99999999;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: 0.5px solid rgba(1, 218, 217, 0.6);
    border-radius:0px 0px 4px 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .zoomButtonrEACT:hover {
    filter: brightness(125%);
  }
  
  .zoomButtonrEACT:active {
    filter: brightness(75%);
  }
  
  .zoomButtonrEACT > img {
    width: 18px;
  }
  .zoomButton {
    z-index: 99999999;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: 0.5px solid rgba(1, 218, 217, 0.6);
    border-radius: 4px 4px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .map svg{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .map{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .map svg g{
    background-color: rgb(181, 150, 150);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px !important;
    height: 600px !important;
  }
  .zoomButton > img {
    width: 18px;
  }
  
  .zoomButton:hover {
    filter: brightness(125%);
  }
  
  .zoomButton:active {
    filter: brightness(75%);
  }
  .textBox{
    width: 150px;
    height: 80px;
    position: absolute;
    left: 2px;
    top: 3px;
    background-color: aquamarine;
  }
  .zoom{
    position: absolute;
    left: 30px;
    top: calc(30px + 48px + 30px);
    z-index: 1001;
  }
  .legend {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1001;
  }
  
  .picker{
    border:0.5px solid #0F191B;
    border-radius: 8px;
    position: absolute !important;
    top: 30px;
    left: 30px;
    z-index: 20;
    background-color:rgba(15, 25, 27, 1); 
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  .drtail{
    /* position: absolute; */

  }
  .disable {
    filter: brightness(25%);
  }